.modal {
  display: none; 
  position: fixed; 
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  border-style: none;
  background-color: white;
  width: 25%;
  padding: 30px;
}

.button {
  background-color: #E8E8E8;
  color: #7C7C7C;
  border: none;
  border-radius: 4px;
  height: 50px;
  margin-left: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 14px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition-duration: 0.4s;
}

.button1:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 8px 25px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  background-color: #DCDCDC;
}

.line-01 {
  border-width: 1px;
  border-color: #F8F8F8;
}

#users-page,
#upload-page,
#profile-page,
#website-page {
  display: none;
}

.clickable {
  cursor: pointer;
}

.ins-btn-1,
.ins-btn {
  margin-left: 1.5vw;
  width: 50%;
}

.choose-btn {
  text-align: left !important;
}

.wt-1st-row td {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px !important;
  border-color: black !important;
}

.workTable {
  width: 100%;
  text-align: center;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  border-top-color: #E1E0E0;
  border-spacing: 0;
}

#workTable {
  width: 100%;
}

.workTable td,
#workTable td {
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: #E1E0E0; 
}

.nm {
  margin: 0;
  font-size: 1.5vw;
}

.own-card {
  min-height: 50vw;
  padding: 0.5vw;
}

.sTitle {
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select01 {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nm-1 {
  height: 1.5vw;
  width: 1.5vw;
}

.title-col {
  width: 33%;
}

.title-col select{
  width: 70%;
}

.title-col-1 {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-col-1 input {
  border-radius: 0.5vw;
  width: 80%;
}
