<!DOCTYPE html>
<html lang="en">
<head>
	<title>ILRDC</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/mainLoginAssets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/css/util.css">
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/css/main.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/mainLoginAssets/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<span class="login100-form-logo">
					<i class="zmdi zmdi-landscape"></i>
				</span>

				<span class="login100-form-title p-b-34 p-t-27">
					I L R D C
				</span>
				<div style="align-items: center; padding-left: 4px;padding-bottom: 20px">
					<input class="checkBox" type="radio" name="usertype[]" checked value="1" />
					<label class="label float">
						一般使用者
					</label>
					<input class="checkBox" type="radio" name="usertype[]" value="2" />
					<label class="label float">
						機關
					</label>
					<input class="checkBox" type="radio" name="usertype[]" value="3" />
					<label class="label">
						&nbsp;工作帳號
					</label>
				</div>
				<div class="wrap-input100 validate-input" data-validate = "Enter username">
					<input class="input100" type="text" id="username" name="username" placeholder="帳號" required>
					<span class="focus-input100" data-placeholder="&#xf207;"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<input class="input100" type="password" id="password" name="password" placeholder="密碼" required>
					<span class="focus-input100" data-placeholder="&#xf191;"></span>
				</div>
				<div class="alert-box">
					帳號或密碼不正確
				</div>
				<div class="contact100-form-checkbox">
					<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
					<label class="label-checkbox100" for="ckb1">
						記住
					</label>
				</div>
				<div class="container-login100-form-btn">
					<button id="login-submit" class="login100-form-btn">
						登入
					</button>
				</div>
				<br>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						註冊
					</button>
				</div>
				<div class="text-center p-t-90">
					<a class="txt1" href="#">
						忘記密碼?
					</a>
				</div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/mainLoginAssets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/mainLoginAssets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->


	<script src="/js/js-cookie.js"></script>
	<script src="/mainLoginAssets/main.js"></script>

</body>
</html>
