<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>詞表後台</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/newSentEnd/main.css">
</head>
<body>
	<i class="material-icons sidebar-icon" onclick="sidebarToggle()">subject</i>
   <div id="sidebar" data-current-btn="btn2">
  	<!--<input id="btn1" class="sidebarBtn" type="button" onclick="show('1')" value="學系詞表系統管理">-->
		<input id="btn2" class="sidebarBtn" type="button" onclick="show('2')" value="詞表作業者管理">
		<input id="btn3" class="sidebarBtn" type="button" onclick="show('3')" value="詞表資料總管理">
		<input id="btn4" class="sidebarBtn" type="button" onclick="show('4')" value="詞表資料內容管理">
		<!--<input id="btn5" class="sidebarBtn" type="button" onclick="show('5')" value="詞表統計管理">
		<input id="btn6" class="sidebarBtn" type="button" onclick="show('6')" value="詞表研究管理">-->
		<input id="btn7" class="sidebarBtn" type="button" onclick="show('7')" value="意見回饋與勘誤修正管理">
	</div>
	<div id="content" data-current-content="2">
		<div class="hide" id="1">
			1
		</div>
		<div class="hide" id="2">
			<div class="add-btn-row">
				<button onclick="openAddOperator()">新增</button>
			</div>
			<table class="workTable">
				<tr class="wt-1st-row">
					<td style="width: 5%">
						<p class="nm"></p>
					</td>
					<td style="width: 5%">
						<p class="nm">序號</p>
					</td>
					<td style="width: 10%">
						<p class="nm">族別</p>
					</td>
					<td style="width: 10%">
						<p class="nm">方言</p>
					</td>
					<td style="width: 10%">
						<p class="nm">作業員</p>
					</td>
					<td style="width: 15%">
						<p class="nm">作業情形</p>
					</td>
					<td style="width: 15%">
						<p class="nm">作業平台</p>
					</td>
					<td style="width: 25%">
						<p class="nm">最新編輯時間</p>
					</td>
					<td style="width: 5%">
						<p class="nm">操作</p>
					</td>
				</tr>
			</table>
			<table id="workTable">
				
			</table>
		</div>
		<div class="hide" id="3">
			<div class="sTitle1">
				<p class="title font15vw">詞表資料內容管理</p>
			</div>
			<table class="sTable">
				<tr style="background-color: #A6A5A5;">
					<td style="width: 7%">
					</td>
					<td style="width: 10%">
						<p class="nm">族別</p>
					</td>
					<td style="width: 10%">
						<p class="nm">方言</p>
					</td>
					<td style="width: 8%">
						<p class="nm">編號</p>
					</td>
					<td style="width: 15%">
						<p class="nm">詞表資料</p>
					</td>
					<td style="width: 10%">
						<p class="nm">作業員</p>
					</td>
					<td style="width: 15%">
						<p class="nm">作業平台</p>
					</td>
					<td style="width: 10%">
						<p class="nm">密碼</p>
					</td>
					<td style="width: 15%">
						<p class="nm">最新編輯時間</p>
					</td>
				</tr>
			</table>
			<table id="oTable" class="sTable">
			</table>
		</div>
		<div class="hide" id="4">
			<div class="header">
				<div>
					<p class="title">詞表資料內容管理</p>
				</div>
				<div class="select-box">
					<p class="f1">語言<i class="material-icons downBtn" onclick="show4('lang')">details</i></p>
					<p class="f1">類別<i class="material-icons downBtn" onclick="show4('cate')">details</i></p>
					<p class="f1">級別<i class="material-icons downBtn" onclick="show4('level')">details</i></p>
          <div class="sb1">
            <input type="text" class="sb2" id="keyword4">
            <i class="material-icons" id="searchBtn4">search</i>
          </div>
	       </div>
			</div>
			<div id="lang4" class="select-item-box">
				<div class="select-item">
					<input type="checkbox" id="langAP4" value="1" checked onclick="langAP(4)">全選
				</div>
			</div>
			<div id="cate4" class="select-item-box">
				<div class="select-item">
					<input type="checkbox" id="cateAP4" value="1" checked onclick="cateAP(4)">全選
				</div>
			</div>
			<div id="level4" class="select-item-box">
				<div class="select-item">
					<input type="checkbox" id="levelAP4" value="1" checked onclick="levelAP(4)">全選
				</div>
				<div class="select-item">
					<input type="checkbox" name="level4[]" value="初級" checked>初級&nbsp;
					<input type="checkbox" name="level4[]" value="中級" checked>中級&nbsp;
					<input type="checkbox" name="level4[]" value="中高級" checked>中高級&nbsp;
					<input type="checkbox" name="level4[]" value="高級" checked>高級
				</div>
			</div>
			<div class="sTitle">
				<!--<p style="font-size: 1.3vw">檢視結果共&nbsp;<a style="color: red;"></a>&nbsp;筆資料</p>-->
				<p id="sTitle-p"></p>
        <div class="select01">
          <i class="material-icons prev" onclick="prevpage(4)">navigate_before</i>第
          <select id="page4" onchange="changepage(4)">
          </select>頁
          <i class="material-icons next" onclick="nextpage(4)">navigate_next</i>
        </div>
        <div class="select02">每頁顯示
          <select id="rowPerPage4" onchange="changeRowPerPage(4)">
            <option value="10">10</option>
            <option value="25" selected>25</option>
            <option value="50">50</option>
          </select>筆
        </div>
			</div>
			<div class="sub-sTitle">
				<input type="checkbox" id="sEdit" onclick="openEdit(4)" value="ok">編輯
				&nbsp;
				<div onclick="wordsDownload()">
					<i class="material-icons">get_app</i>下載
				</div>
			</div>
			<div>
				<table class="sTable">
					<tr style="background-color: #A6A5A5;">
						<td class="sTable-td-edit" style="width: 7.5%">
						</td>
						<td style="width: 5%">
							<p class="nm">序號</p>
						</td>
						<td style="width: 5%">
							<p class="nm">族別</p>
						</td>
						<td style="width: 8%">
							<p class="nm">方言</p>
						</td>
						<td style="width: 8%">
							<p class="nm">類別</p>
						</td>
						<td style="width: 8%">
							<p class="nm">編號</p>
						</td>
						<td style="width: 10%">
							<p class="nm">族語詞彙</p>
						</td>
						<td style="width: 10%">
							<p class="nm">中文詞彙</p>
						</td>
						<td style="width: 15%">
							<p class="nm">族語例句</p>
						</td>
						<td style="width: 15%">
							<p class="nm">中文例句</p>
						</td>
						<td style="width: 5%">
							<p class="nm">級別</p>
						</td>
						<td>
							<p class="nm">備註</p>
						</td>
					</tr>
				</table>
				<table id="wTable" class="sTable">
				</table>
			</div>
		</div>
		<div class="hide" id="5">
			<form id="statForm" method="POST" action="/newSentEnd/statSearch">
				<div class="header" style="margin-bottom: 30px;">
					<div>
						<p class="title">詞表統計管理</p>
					</div>
					<div style="padding-left: 10px;">
						<p class="floatL f1">語言<i class="material-icons downBtn" onclick="showLang5()">details</i></p>
						<p class="floatL f1">類別<i class="material-icons downBtn" onclick="showCate5()">details</i></p>
						<p class="floatL f1">級別<i class="material-icons downBtn" onclick="showLevel5()">details</i></p>
		                <div class="sb1">
	                        <input type="text" class="sb2" name="keyword5" required>
	                        <i class="material-icons" id="searchBtn5" style="vertical-align: middle;font-size: 1.5vw;cursor: pointer;">search</i>
		                </div>
		            </div>
				</div>
				<div class="hide cbox" id="lang5">
					<input type="checkbox" name="langAP5" value="1" checked onclick="flangAP5()">全選&nbsp;
					<input type="checkbox" name="language5[]" value="" onclick="checkLangAP5()" checked>&nbsp;
				</div>
				<div class="hide cbox" id="cate5">
					<input type="checkbox" name="cateAP5" value="1" checked onclick="fcateAP5()">全選&nbsp;
					<input type="checkbox" name="category5[]" value="" onclick="checkCateAP5()" checked>&nbsp;
				</div>
				<div class="hide cbox" id="level5">
					<input type="checkbox" name="levelAP5" value="1" checked onclick="flevelAP5()">全選&nbsp;
					<input type="checkbox" name="level5[]" value="初級" onclick="checkLevelAP5()" checked>初級&nbsp;
					<input type="checkbox" name="level5[]" value="中級" onclick="checkLevelAP5()" checked>中級&nbsp;
					<input type="checkbox" name="level5[]" value="中高級" onclick="checkLevelAP5()" checked>中高級&nbsp;
					<input type="checkbox" name="level5[]" value="高級" onclick="checkLevelAP5()" checked>高級
				</div>
			</form>
			<div>
				<div style="width: 30%;float: left;">
					<table width="100%" style="text-align: center;font-size: 1.5vw;border-spacing: 0;">
						<tr style="background-color: #A6A5A5;">
							<td width="33%">
								語言
							</td>
							<td width="33%">
								詞彙
							</td>
							<td width="33%">
								例句
							</td>
						</tr>
					</table>
				</div>
				<div class="card" id="">
					<div style="border-style: solid;border-top-width: 0;border-left-width: 0;border-right-width: 0;padding-bottom: 0.2vw;font-size: 2.5vw;">
					</div>
					<table width="100%" style="font-size: 1.3vw;border-spacing: 0">
						
					</table>
				</div>
			</div>
		</div>
		<div class="hide pbtm" id="6">
			<form id="researchForm" method="POST" action="/newSentEnd/researchSearch">
				<div class="header">
					<div>
						<p class="title">詞表研究管理</p>
					</div>
					<div style="padding-left: 10px;">
						<p class="floatL f1">語言<i class="material-icons downBtn" onclick="showLang6()">details</i></p>
						<p class="floatL f1">類別<i class="material-icons downBtn" onclick="showCate6()">details</i></p>
						<p class="floatL f1">級別<i class="material-icons downBtn" onclick="showLevel6()">details</i></p>
		                <div class="sb1">
	                        <input type="text" class="sb2" name="keyword6">
	                        <i class="material-icons" id="searchBtn6" style="vertical-align: middle;font-size: 1.5vw;cursor: pointer;">search</i>
		                </div>
		            </div>
				</div>
				<div class="hide cbox" id="lang6">
					<input type="checkbox" name="langAP6" value="1" checked onclick="flangAP6()">全選&nbsp;
					<input type="checkbox" name="language6[]" value="" onclick="checkLangAP6()" checked>&nbsp;
				</div>
				<div class="hide cbox" id="cate6">
					<input type="checkbox" name="cateAP6" value="1" checked onclick="fcateAP6()">全選&nbsp;
					<input type="checkbox" name="category6[]" value="" onclick="checkCateAP6()" checked>&nbsp;
				</div>
				<div class="hide cbox" id="level6">
					<input type="checkbox" name="levelAP6" value="1" checked onclick="flevelAP6()">全選&nbsp;
					<input type="checkbox" name="level6[]" value="初級" onclick="checkLevelAP6()" checked>初級&nbsp;
					<input type="checkbox" name="level6[]" value="中級" onclick="checkLevelAP6()" checked>中級&nbsp;
					<input type="checkbox" name="level6[]" value="中高級" onclick="checkLevelAP6()" checked>中高級&nbsp;
					<input type="checkbox" name="level6[]" value="高級" onclick="checkLevelAP6()" checked>高級
				</div>
			</form>
			<div style="margin: 10px 0 10px 0;background-color: #D6D6D6; padding-left: 10px;">
				<p style="font-size: 1.3vw">檢視結果共&nbsp;<a style="color: red;"></a>&nbsp;筆資料</p>
			</div>
			<div>
				<table style="width: 100%;font-size: 18px;text-align: center;border-spacing: 0">
					<tr style="background-color: #A6A5A5;">
						<td style="width: 2.5%">
						</td>
						<td style="width: 3%">
							<p class="nm">序號</p>
						</td>
						<td style="width: 4%">
							<p class="nm">族別</p>
						</td>
						<td style="width: 8%">
							<p class="nm">方言</p>
						</td>
						<td style="width: 8%">
							<p class="nm">類別</p>
						</td>
						<td style="width: 5%">
							<p class="nm">編號</p>
						</td>
						<td style="width: 8%">
							<p class="nm">族語詞彙</p>
						</td>
						<td style="width: 8%">
							<p class="nm">中文詞彙</p>
						</td>
						<td style="width: 10%">
							<p class="nm">族語例句</p>
						</td>
						<td style="width: 10%">
							<p class="nm">中文例句</p>
						</td>
						<td style="width: 4%">
							<p class="nm">級別</p>
						</td>
						<td style="width: 3%">
							<p class="nm">備註</p>
						</td>
						<td style="width: 10%">
							<p class="nm">意見回饋</p>
						</td>
						<!--
						<td>
							<p class="nm">處理情形</p>
						</td>
						<td style="width: 3%">	
						</td>
						-->
					</tr>
					
				</table>
			</div>
		</div>
		<div class="hide pbtm" id="7">
			<div class="header">
				<div>
					<p class="title">意見回饋與勘誤修正管理</p>
				</div>
				<div class="select-box">
					<p class="f1">語言<i class="material-icons downBtn" onclick="show7('lang')">details</i></p>
					<p class="f1">類別<i class="material-icons downBtn" onclick="show7('cate')">details</i></p>
					<p class="f1">級別<i class="material-icons downBtn" onclick="show7('level')">details</i></p>
          <div class="sb1">
            <input type="text" class="sb2" id="keyword7">
            <i class="material-icons" id="searchBtn7">search</i>
          </div>
	       </div>
			</div>
			<div id="lang7" class="select-item-box">
				<div class="select-item">
					<input type="checkbox" id="langAP7" value="1" checked onclick="langAP(7)">全選
				</div>
			</div>
			<div id="cate7" class="select-item-box">
				<div class="select-item">
					<input type="checkbox" id="cateAP7" value="1" checked onclick="cateAP(7)">全選
				</div>
			</div>
			<div id="level7" class="select-item-box">
				<div class="select-item">
					<input type="checkbox" id="levelAP7" value="1" checked onclick="levelAP(7)">全選
				</div>
				<div class="select-item">
					<input type="checkbox" name="level7[]" value="初級" checked>初級&nbsp;
					<input type="checkbox" name="level7[]" value="中級" checked>中級&nbsp;
					<input type="checkbox" name="level7[]" value="中高級" checked>中高級&nbsp;
					<input type="checkbox" name="level7[]" value="高級" checked>高級
				</div>
			</div>
			<div class="sTitle">
				<p id="sTitle-p"></p>
        <div class="select01">
          <i class="material-icons prev" onclick="prevpage(7)">navigate_before</i>第
          <select id="page7" onchange="changepage(7)">
          </select>頁
          <i class="material-icons next" onclick="nextpage(7)">navigate_next</i>
        </div>
        <div class="select02">每頁顯示
          <select id="rowPerPage7" onchange="changeRowPerPage(7)">
            <option value="10">10</option>
            <option value="25" selected>25</option>
            <option value="50">50</option>
          </select>筆
        </div>
			</div>
			<div class="sub-sTitle">
				<input type="checkbox" id="sEdit" onclick="openEdit(7)" value="ok">編輯
				&nbsp;
				<div onclick="suggestDownload()">
					<i class="material-icons">get_app</i>下載
				</div>
			</div>
			<div>
				<table class="sTable">
					<tr style="background-color: #A6A5A5;">
						<td class="sTable-td-edit" style="width: 7.5%">
						</td>
						<td style="width: 5%">
							<p class="nm">序號</p>
						</td>
						<td style="width: 5%">
							<p class="nm">族別</p>
						</td>
						<td style="width: 7.5%">
							<p class="nm">方言</p>
						</td>
						<td style="width: 7.5%">
							<p class="nm">類別</p>
						</td>
						<td style="width: 8%">
							<p class="nm">編號</p>
						</td>
						<td style="width: 8%">
							<p class="nm">族語詞彙</p>
						</td>
						<td style="width: 8%">
							<p class="nm">中文詞彙</p>
						</td>
						<td style="width: 10%">
							<p class="nm">族語例句</p>
						</td>
						<td style="width: 10%">
							<p class="nm">中文例句</p>
						</td>
						<td style="width: 5%">
							<p class="nm">級別</p>
						</td>
						<td style="width: 10%">
							<p class="nm">意見回饋</p>
						</td>
						<td class="feedback">
							<p class="nm">處理情形</p>
						</td>
					</tr>
				</table>
				<table id="sTable" class="sTable">
				</table>
			</div>
		</div>
	</div>
	<!-- modal -->
	<div id="confirmModal" class="modal modal1" data-id="" data-fb="">
    <div class="modal-content1">
	    <p>確認送出</p>
	    <br><br>
	    <input type="button" onclick="suggestSubmit()" value="確認">
	    <input type="button" onclick="suggestCancel()" value="取消">
    </div>
  </div>
  <div id="confirmModal3" class="modal modal1" data-id="" data-sid="" data-pw="">
    <div class="modal-content1">
	    <p>確認送出</p>
	    <br><br>
	    <input type="button" onclick="allDataSubmit()" value="確認">
	    <input type="button" onclick="allDataCancel()" value="取消">
    </div>
  </div>
  <div id="deleteModal" class="modal modal1" data-id="" data-mode="">
    <div class="modal-content1">
	    <p>確認刪除</p>
	    <br><br>
	    <input type="button" onclick="deleteConfirm()" value="確認">
	    <input type="button" onclick="deleteCancel()" value="取消">
    </div>
  </div>
  <div id="addOperatorModal" class="modal modal1">
    <div class="modal-content2">
    	<span onclick="closeAddOperator()">&times;</span>
    	<div class="modal-row">
    		族別：
    		<select onchange="initAddOperatorDialect()" id="a-o-family">
    			<option></option>
    		</select>
    	</div>
    	<br>
    	<div class="modal-row">
    		方言：
    		<select id="a-o-dialect">
    			
    		</select>
    	</div>
    	<br>
    	<br>
    	<div>
    		<input type="button" onclick="addOppConfirm()" value="確認">
	    	<input type="button" onclick="addOppCancel()" value="取消">
    	</div>
    </div>
  </div>
  <div id="statusModal" class="modal modal1">
    <div class="modal-content2">
    	<div class="modal-row">
    		完成度：
    		<input type="number" id="status" data-id="">%
    	</div>
    	<br>
    	<br>
    	<div>
    		<input type="button" onclick="confirmProgress()" value="確認">
	    	<input type="button" onclick="closeModal('statusModal')" value="取消">
    	</div>
    </div>
  </div>
  <div id="applyOperatorModal" class="modal modal1" data-id="">
    <div class="modal-content2 width50">
    	<div class="sec-content">
	    	<span onclick="closeApplyOperator()">&times;</span>
	    	<div class="modal-title">
	    	</div>
	    	<div class="sb4">
		    	<div class="sb3">
		        <input type="text" class="sb2 font15vw" id="operatorSearch" placeholder="會員ID（身分證）、姓名">
		        <i class="material-icons font2vw" onclick="operatorSearch()">search</i>
		      </div>
	      </div>
	      <div class="applyOp-content">
	      	<p>搜尋結果</p>
	      	<table class="workTable">
	      		<tr class="wt-1st-row">
							<td style="width: 10%">
								<p class="nm">序號</p>
							</td>
							<td style="width: 15%">
								<p class="nm">姓名</p>
							</td>
							<td style="width: 15%">
								<p class="nm">族名</p>
							</td>
							<td style="width: 15%">
								<p class="nm">方言別</p>
							</td>
							<td style="width: 20%">
								<p class="nm">地區</p>
							</td>
							<td style="width: 10%">
								<p class="nm">部落</p>
							</td>
							<td style="width: 15%">
								<p class="nm">指派</p>
							</td>
						</tr>
	      	</table>
	      	<div>
		      	<table id="applyOppTable">
		      		
		      	</table>
	      	</div>
	      </div>
	    </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="/newSentEnd/main.js" type="text/javascript"></script>

</html>