<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>新詞</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/newWord/main.css">
</head>
<body>
  <div class="header" data-test="">
    <div class="sb1">
      <div class="sb4">
        <div class="title-left">
          現代族語詞彙
        </div>
        <div class="sb2">
          <input type="text" class="sb3" id="keyword" placeholder="請輸入族語或中文">
          <div class="icon-box">
            <i class="material-icons" onclick="searchWord()">search</i>
          </div>
        </div>
      </div>
      <div class="sb4">
        <div class="title-left">
        </div>
        <div class="sb5">
          <p class="symbol" onclick="insSymbol('^')">^</p>
          <p class="symbol" onclick="insSymbol('é')">é</p>
          <p class="symbol" onclick="insSymbol('ṟ')">ṟ</p>
          <p class="symbol" onclick="insSymbol('ɨ')">ɨ</p>
          <p class="symbol" onclick="insSymbol('ʉ')">ʉ</p>
          <p class="symbol" onclick="insSymbol('’')">’</p>
        </div>
      </div>
    </div>
    <div class="language">
      <div class="beginRow">
        目前語言：
      </div>
      <input class="currlang" type="text" id="currlang" value="全語言" readonly>
      <input class="switch" type="button" onclick="selectAllLang()" value="全語言">
      <input class="switch" type="button" onclick="showLang()" value="切換">
    </div>
    <div class="langbox">
      <div class="langtype1" id="langtype">
        
      </div>
      <div class="sublang" id="sublang">
      </div>
      <div class="langtype1 langtype2" id="langtype1">
        
      </div>
    </div>
    <div class="category">
      <div class="beginRow">
        目前分類：
      </div>
      <input class="currcate" type="text" id="currcate" value="全分類" readonly>
      <input class="switch" type="button" onclick="selectAllCate()" value="全分類">
      <input class="switch" type="button" onclick="showCate()" value="切換">
    </div>

    <div class="cate" id="cate">

    </div>
  </div>

  <div class="content">
    <div class="page-title" data-act-page="1">
      <input class="learn act-btn" type="button" onclick="showPage(1)" value="本年度初版詞彙" id="btn1">
      <input class="learn" type="button" onclick="showPage(2)" value="本年度推薦新詞" id="btn2">
      <input class="learn" type="button" onclick="showPage(3)" value="歷年度推薦新詞" id="btn3">
      <input class="learn" type="button" onclick="showPage(4)" value="下載" id="btn4">
      <input class="learn" type="button" onclick="showPage(5)" value="意見回饋列表" id="btn5">
    </div>

    <div id="page-1">
      <div class="title">
        <p class="title-row-1"></p>
        <p class="title-row-2"></p>
      </div>
      <div class="select01">
        <i class="material-icons prev" onclick="prevpage(1)">navigate_before</i>第
        <select id="pages-1" onchange="changepage(1)">
        </select>頁
        <i class="material-icons next" onclick="nextpage(1)">navigate_next</i>
      </div>
      <div class="page-content">
        <table>
          <tr>
            <td style="width: 5%;">
              序
            </td>
            <td style="width: 10%;">
              主類別
            </td>
            <td style="width: 10%;">
              次類別
            </td>
            <td style="width: 6%;">
              年度
            </td>
            <td style="width: 10%;">
              方言別
            </td>
            <td style="width: 15%;">
              族語
            </td>
            <td style="width: 10%;">
              中文
            </td>
            <td style="width: 14%;">
              語意
            </td>
            <td style="width: 14%;">
              創詞說明
            </td>
            <td style="width: 6%;">
              建議
            </td>
          </tr>
        </table>
        <div class="page-content-1"></div>
      </div>
    </div>

    <div class="divhide" id="page-2">
      <div class="title">
        <p class="title-row-1"></p>
        <p class="title-row-2"></p>
      </div>
      <div class="select01">
        <i class="material-icons prev" onclick="prevpage(2)">navigate_before</i>第
        <select id="pages-2" onchange="changepage(2)">
        </select>頁
        <i class="material-icons next" onclick="nextpage(2)">navigate_next</i>
      </div>
      <div class="page-content">
        <table>
          <tr>
            <td style="width: 5%;">
              序
            </td>
            <td style="width: 10%;">
              主類別
            </td>
            <td style="width: 10%;">
              次類別
            </td>
            <td style="width: 6%;">
              年度
            </td>
            <td style="width: 10%;">
              方言別
            </td>
            <td style="width: 15%;">
              族語
            </td>
            <td style="width: 10%;">
              中文
            </td>
            <td style="width: 14%;">
              語意
            </td>
            <td style="width: 14%;">
              創詞說明
            </td>
            <td style="width: 6%;">
              建議
            </td>
          </tr>
        </table>
        <div class="page-content-1"></div>
      </div>
    </div>

    <div class="divhide" id="page-3">
      <div class="title">
        <p class="title-row-1"></p>
        <p class="title-row-2"></p>
      </div>
      <div class="select01">
        <i class="material-icons prev" onclick="prevpage(3)">navigate_before</i>第
        <select id="pages-3" onchange="changepage(3)">
        </select>頁
        <i class="material-icons next" onclick="nextpage(3)">navigate_next</i>
      </div>
      <div class="page-content">
        <table>
          <tr>
            <td style="width: 5%;">
              序
            </td>
            <td style="width: 7%;">
              年度
            </td>
            <td style="width: 16%;">
              方言別
            </td>
            <td style="width: 30%;">
              族語詞彙
            </td>
            <td style="width: 30%;">
              中文詞彙
            </td>
            <td style="width: 6%;">
              音檔
            </td>
            <td style="width: 6%;">
              建議
            </td>
          </tr>
        </table>
        <div class="page-content-1"></div>
      </div>
    </div>

    <div class="divhide" id="page-4">
      <div class="rmspace dlcontent">
        <p></p>詞表下載
        <i class="material-icons dlbtn" onclick="download()">vertical_align_bottom</i>
      </div>
    </div>

    <div class="divhide" id="page-5">
      <div class="title">
        <p class="title-row-1"></p>
        <p class="title-row-2"></p>
      </div>
      <div class="select01">
        <i class="material-icons prev" onclick="prevpage(5)">navigate_before</i>第
        <select id="pages-5" onchange="changepage(5)">
        </select>頁
        <i class="material-icons next" onclick="nextpage(5)">navigate_next</i>
      </div>
      <div class="page-content">
        <table>
          <tr>
            <td style="width: 4%;">
              序
            </td>
            <td style="width: 12%;">
              日期
            </td>
            <td style="width: 2%;">
              項目
            </td>
            <td style="width: 2%;">
              主類別
            </td>
            <td style="width: 2%;">
              次類別
            </td>
            <td style="width: 5%;">
              年度
            </td>
            <td style="width: 10%;">
              方言別
            </td>
            <td style="width: 16%;">
              族語
            </td>
            <td style="width: 10%;">
              中文
            </td>
            <td style="width: 15%;">
              建議內容
            </td>
            <td style="width: 8%;">
              回饋者
            </td>
            <td style="width: 15%;">
              回覆
            </td>
          </tr>
        </table>
        <div class="page-content-1"></div>
      </div>
    </div>
      
  </div>

  <!--Modal-->
  <div id="suggestModal" class="modal" data-id="" data-season="">
    <div class="modal-content">
      <div class="close-row">
        <span class="close" onclick="closeModal('suggestModal')">&times;</span>
      </div>
      <div class="modalhead">
        <table class="tables">
          <tr>
            <td style="width: 60%">
              <p class="td1 rmspace" id="s_ab"></p>
            </td>
            <td style="width: 40%">
              <p class="td1 td2 rmspace" id="s_ch"></p>
            </td>
          </tr>
        </table>
        <table class="tables bottomhead1">
          <tr>
            <td>
              <div class="flex-row">
                主類：<p class="modaltitle" id="s_cate"></p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="flex-row">
                次類：<p class="modaltitle" id="s_subcate"></p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="flex-row">
                語別：<p class="modaltitle" id="s_dialect"></p>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="modalbody">
        <table class="ctables">
          <tr>
            <td class="c1 ctitle">
              詞彙
            </td>
            <td class="c2">
              <p class="td2 rmspace" id="s_ab_1"></p>
            </td>
            <td class="c2">
              <p class="td2 tdc rmspace" id="s_ch_1"></p>
            </td>
          </tr>
          <tr>
            <td class="c1"></td>
            <td class="c2">
              <textarea class="tx1" id="s_ab_2" cols="20" rows="3"></textarea>
            </td>
            <td class="c2">
              <textarea class="tx1" id="s_ch_2" cols="20" rows="3"></textarea>
            </td>
          </tr>
            <td class="c1 ctitle secrow">
              例句
            </td>
            <td class="c2 secrow">
              <p class="td2 rmspace" id="s_ab_ex"></p>
            </td>
            <td class="c2 secrow">
              <p class="td2 tdc rmspace" id="s_ch_ex"></p>
            </td>
          </tr>
          <tr>
            <td class="c1"></td>
            <td class="c2">
              <textarea class="tx1" id="s_ab_ex_1" cols="20" rows="3"></textarea>
            </td>
            <td class="c2">
              <textarea class="tx1" id="s_ch_ex_1" cols="20" rows="3"></textarea>
            </td>
          </tr>
        </table>
        <div style="padding-left: 10px; padding-right: 20px;">
          <p class="ctitle">意見與說明</p>
          <textarea class="tx1" id="textsuggestion" rows="4"></textarea>
        </div>
        <div class="modalfooter">
          <input type="button" name="submit" value="送出" onclick="confirmChecker()">
        </div>
        <div id="confirmModal" class="modal modal1">
          <div class="modal-content1">
          <p>確認送出</p>
          <br><br>
          <input type="button" onclick="suggestSubmit()" value="確認">
          <input type="button" onclick="cancelSubmit()" value="取消">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="feedback" class="modal modal2">
    <div class="modal-content mc-background">
      <span class="close" onclick="closeFeedback()">&times;</span>
      <p class="ctitle" style="font-size: 16px;padding-left: 15px;">審查結果說明</p>
      <p id="fbResult" style="font-size: 15px;"></p>
    </div>
  </div>


  <audio id="arAudio">
    <source src="" type="audio/wav">
  </audio>
</body>

  <!--   Core JS Files   -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/newWord/main.js"></script>
</html>
