<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/dashboardAssets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>ILRDC</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />


  <!-- Bootstrap core CSS     -->
  <link href="/dashboardAssets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="/dashboardAssets/css/animate.min.css" rel="stylesheet"/>

  <!--  Light Bootstrap Table core CSS    -->
  <link href="/dashboardAssets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link href="/dashboardAssets/css/pe-icon-7-stroke.css" rel="stylesheet" />
  <link href="/dashboardAssets/work.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="/dashboardAssets/img/sidebar-5.jpg">

  <!--

  Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
  Tip 2: you can also add an image using data-image tag

  -->

  <div class="sidebar-wrapper">
    <div class="logo">
    <a class="simple-text">
      歡迎 <%= user %>!
    </a>
    </div>

    <ul class="nav">
      <li>
        <button class="button-nav" onclick="systemPage()">
        <i class="pe-7s-graph"></i>
        <p class="nav-sidebar-text">資訊系統</p>
        </button>
      </li>
      <li>
        <button class="button-nav" onclick="websitePage()">
        <i class="pe-7s-graph"></i>
        <p class="nav-sidebar-text">資訊網站</p>
        </button>
      </li>
      <li id="sb_nw-setting-page">
        <button class="button-nav" onclick="nwSettingPage()">
        <i class="pe-7s-settings"></i>
        <p class="nav-sidebar-text">新詞設定</p>
        </button>
      </li>
      <li id="sb_upload-page">
        <button class="button-nav" onclick="uploadPage()">
        <i class="pe-7s-upload"></i>
        <p class="nav-sidebar-text">資料上傳</p>
        </button>
      </li>
      <li id="sb_users-page">
        <button class="button-nav" onclick="usersPage()">
        <i class="pe-7s-users"></i>
        <p class="nav-sidebar-text">帳戶資訊</p>
        </button>
      </li>
      <li>
        <button class="button-nav" onclick="profilePage()">
        <i class="pe-7s-user"></i>
        <p class="nav-sidebar-text">個人資料</p>
        </button>
      </li>
    </ul>
  </div>
  </div>

  <div class="main-panel">
  <nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
    <div class="navbar-header">
  
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
  
      <a class="navbar-brand" href="#">資訊系統</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="clickable" onclick="logout()">
        <p>登出</p>
        </a>
      </li>
      <li class="separator hidden-lg"></li>
      </ul>
    </div>
    </div>
  </nav>

  
  <div class="content" data-current-page="system-page">
    
    <div id="system-page">
      <div class="container-fluid">
        <div class="row">
          <button class="button button1 button2" onclick="window.open('/newWordEnd')">創詞後台</button>
          <button class="button button1 button2" onclick="window.open('/newSentEnd')">詞表後台</button>
          <button class="button button1 button2" onclick="window.open('https://ilrdc.tw/qBank/')">題庫後台</button>
          <button class="button button1 button2" onclick="window.open('http://reading.ilrdc.tw/login/')">翻譯後台</button>
          <button class="button button1 button2" onclick="window.open('http://210.61.46.35:8080/manpower/search/login/login.php')">族語人才資料庫</button>
          <button class="button button1 button2" onclick="window.open('http://210.61.46.35:8080/tow.ilrdc.tw/login/login.php')">學習詞表作業平台</button>
        </div>
      </div>
    </div>

    <div id="website-page">
      <div class="container-fluid">
        <div class="row">
          <button class="button button1 button2" onclick="window.open('/newWord')">新詞</button>
          <button class="button button1 button2" onclick="window.open('/newSentence')">詞表</button>
          <button class="button button1 button2" onclick="window.open('http://dailt.ilrdc.tw')">數位族語資料庫</button>
        </div>
      </div>
    </div>

    <div id="nw-setting-page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h5 class="title">新詞</h5>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>本年度初版詞彙</label>
                      <input id="fey" type="number" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>本年度推薦新詞</label>
                      <input id="lcy" type="number" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>歷年推薦新詞</label>
                      <input id="pyf" type="number" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>本年度出版詞彙第一段</label>
                      <textarea id="fey_1" type="text" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>本年度初版詞彙第二段</label>
                      <textarea id="fey_2" type="text" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>本年度推薦新詞第一段</label>
                      <textarea id="lcy_1" type="text" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>本年度推薦新詞第二段</label>
                      <textarea id="lcy_2" type="text" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>歷年推薦新詞第一段</label>
                      <textarea id="pyf_1" type="text" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>歷年推薦新詞第二段</label>
                      <textarea id="pyf_2" type="text" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
                <button onclick="renewSetting()" class="btn btn-info btn-fill pull-right">更新</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="upload-page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h5 class="title">選擇系統</h5>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <select id="system" class="form-control">
                        <option value="1">詞表</option>
                        <option value="2">新詞</option>
                        <option value="3">文章</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <button onclick="chooseFile()" class="form-control choose-btn">
                        選擇檔案<input class="ins-btn" type="text" disabled placeholder="未選擇">
                      </button>
                    </div>
                  </div>
                </div>
                <form id="csv_data">
                  <input type="file" id="file" name="csvFile" style="visibility: hidden;" onchange="changeFile()">
                </form>
                <button onclick="uploadToDb()" class="btn btn-info btn-fill pull-left">上傳</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h5 class="title">範例下載</h5>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <button onclick="towCsv()" class="form-control">詞表</button>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <button onclick="nwCsv()" class="form-control">新詞</button>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <button onclick="arCsv()" class="form-control">文章</button>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <button onclick="usrCsv()" class="form-control">帳號</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="users-page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card own-card">
              <div class="sTitle">
                <div class="title-col">
                  <select id="acc_type" onchange="changeType()">
                    <option>全部</option>
                    <option>一般</option>
                    <option>機關</option>
                    <option>工作</option>
                    <option>黑名單</option>
                  </select>
                </div>
                <div class="title-col-1">
                  <input type="text" style="visibility: hidden;">
                </div>
                <div class="select01">
                  <i class="material-icons prev" onclick="prevpage(1)">navigate_before</i>第
                  <select id="page1" onchange="changepage(1)">
                  </select>頁
                  <i class="material-icons next" onclick="nextpage(1)">navigate_next</i>
                </div>
              </div>
              <table class="workTable">
                <tr class="wt-1st-row">
                  <td style="width: 8%">
                    <p class="nm align-center">序號</p>
                  </td>
                  <td style="width: 35%">
                    <p class="nm">帳號</p>
                  </td>
                  <td style="width: 20%">
                    <p class="nm">身分證號</p>
                  </td>
                  <td style="width: 13%">
                    <p class="nm">中文名</p>
                  </td>
                  <td style="width: 16%">
                    <p class="nm">族語名</p>
                  </td>
                  <td style="width: 8%">
                    <p class="nm align-center">狀態</p>
                  </td>
                </tr>
              </table>
              <table id="workTable">
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h5 class="title">新增帳號</h5>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>類型</label>
                      <select id="n_type" class="form-control">
                        <option>一般</option>
                        <option>機關</option>
                        <option>工作</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>帳號</label>
                      <input id="n_username" type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>密碼</label>
                      <input id="n_password" type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <button onclick="createUser()" class="btn btn-info btn-fill pull-left">新增</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h5 class="title">新增帳號（上傳）</h5>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <button onclick="chooseFile1()" class="form-control choose-btn">
                        選擇檔案<input class="ins-btn-1" type="text" disabled placeholder="未選擇">
                      </button>
                    </div>
                  </div>
                </div>
                <form id="csv_data_1">
                  <input type="file" id="file_1" name="csvFile" style="visibility: hidden;" onchange="changeFile1()">
                </form>
                <button onclick="uploadToDb1()" class="btn btn-info btn-fill pull-left">上傳</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="profile-page">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h4 class="title">編輯資料</h4>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>帳號</label>
                      <input id="username" type="text" class="form-control" disabled data-id="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>郵件地址</label>
                      <input id="email" type="text" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>生日日期</label>
                      <input id="birthdate" type="date" class="form-control chg-pd">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>身分字號</label>
                      <input id="identity_num" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>性別</label>
                      <select id="gender" class="form-control">
                        <option value="0">女</option>
                        <option value="1">男</option>
                        <option value="2">其他</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>中文姓名</label>
                      <input id="name_zh" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>族語姓名</label>
                      <input id="name_ind" type="text" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>方言別</label>
                      <select id="ethnicity" class="form-control">
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>方言別</label>
                      <select id="dialect" class="form-control">
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>部落</label>
                      <select id="tribe" class="form-control">
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>手提電話</label>
                      <input id="mobile_no" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>辦公電話</label>
                      <input id="office_no" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>郵遞區號</label>
                      <input id="postcode" type="text" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>居住地址</label>
                      <input id="address" type="text" class="form-control">
                    </div>
                  </div>
                </div>

                <button onclick="showModal('confirmModal')" class="btn btn-info btn-fill pull-right">更新</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="header">
                <h4 class="title">密碼更新</h4>
              </div>
              <div class="content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>舊密碼</label>
                      <input id="old_pw" type="password" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>新密碼</label>
                      <input id="new_pw" type="password" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>確認新密碼</label>
                      <input id="cfm_new_pw" type="password" class="form-control">
                    </div>
                  </div>
                </div>

                <button onclick="showModal('confirmModal1')" class="btn btn-info btn-fill pull-right">更新</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>


  <footer class="footer">
    <div class="container-fluid">
    <nav class="pull-left">
      <ul>
      <li>
        <a href="http://ilrdc.tw">
        首頁
        </a>
      </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; 原住民族語言研究發展中心
  </p>
    </div>
  </footer>

  </div>
</div>

</body>
<!--Modal-->
<div id="confirmModal" class="modal">
  <div class="modal-content">
    <button onclick="updateInfo()" class="btn btn-info btn-fill pull-right">更新</button>
    <button onclick="closeModal('confirmModal')" class="btn btn-info btn-fill pull-right">取消</button>
  </div>
</div>

<div id="confirmModal1" class="modal">
  <div class="modal-content">
    <button onclick="updatePassword()" class="btn btn-info btn-fill pull-right">更新</button>
    <button onclick="closeModal('confirmModal1')" class="btn btn-info btn-fill pull-right">取消</button>
  </div>
</div>

  <!--  Charts Plugin -->
  <script src="/dashboardAssets/js/chartist.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/js-cookie.js"></script>
  <script src="/dashboardAssets/work.js"></script>

</html>
