html, body {
  width: 100%;
  margin: 0;
  display: flex;
  min-width: 700px;
  min-height: 700px;
  padding-bottom: 20px;
}
p {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.3; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
  opacity: 0.3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
  opacity: 0.3;
}

#sidebar, #content {
  height: 100%;
  overflow:visible;
  float:left;
}
#sidebar {
  background:white;
  width: 16%;
  display: none;
  margin: 2vw 0 0 2vw;
}

#sidebar.collapsed {
  width: 0;
}

#sidebar.collapsed + #content {
  width: 100%;
}

#content {
  width: 100%;
  margin: 2vw;
}
.sidebarBtn {
  font-size: 1.3vw;
  width: 100%;
  margin-bottom: 10px;
  padding: 6px 0 6px 0;
  background-color: #D6D6D6;
  border-style: none;
  border-radius: 5px;
}
.sidebarBtn:hover {
  cursor: pointer;
  background-color: #ACACAC;
}
.sidebarBtn:focus {
  outline: 0;
}
.sidebar-icon {
  font-size: 2vw;
  cursor: pointer;
  position: absolute;
}
.title {
  font-size: 1.5vw;
  padding-left: 10px;
  padding-bottom: 5px;
}
.hide {
  display: none;
  width: 100%;
}
.searchbar {
    width: 100%;
    text-align: center;
}
.sb1 {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 30%;
    display: flex;
    align-items: center;
    background-color: white;
}
.sb2 {
  width: 90%;
  font-size: 1.3vw;
  border-style: none;
  background-color: transparent;
  margin-left: 3px;
}
.sb2:focus {
    outline: 0;
}
.font2vw {
  font-size: 2vw !important;
}
.font12vw {
  font-size: 1.2vw !important;
}
.font15vw {
  font-size: 1.5vw !important;
}
.sb3 {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.sb3 i {
  cursor: pointer;
}
.sb4 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.f1 {
  width: 5vw;
  font-size: 1.3vw;
  padding-right: 5vw;
}
.header {
  width: 100%;
  padding: 8px 0 8px 0;
  border-style: none;
  background-color: #D6D6D6;
}
.downBtn {
  vertical-align: middle;
  font-size: 1.5vw;
  cursor: pointer;
}
.cbox {
  padding: 1% 2% 1% 2%;
  font-size: 1.3vw;
}
.nm {
  margin: 0;
  padding: 0;
  font-size: 1.2vw;
}
.nm1 {
  font-size: 1.2vw;
  width: 90%;
  text-align: center;
}
.tn {
  font-size: 0.01px;
  color: transparent;
  position: absolute;
  border-style: none;
  background-color: transparent;
  cursor: default;
}
.tn:focus {
  outline: 0;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  align-items: center;
  justify-content: center;
}
.modal1 {
    text-align: center;
}
.modal-content2 {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  width: 30%;
  position: relative;
  max-height: 60%;
}
.modal-content1 {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  width: 25%;
  padding: 15px;
}
.width50 {
  min-height: 420px;
  height: 60% !important;
  width: 50% !important;
}
.pbtm {
  padding-bottom: 30px;
}
.card {
  width: 40%;
  padding: 0 1.5vw 0 1.5vw;
  margin: 10px 0 0 40%;
  display: none;
}
.sTitle {
  margin-top: 10px;
  background-color: #D6D6D6;
  padding-left: 10px;
  display: flex;
  align-items: center;
  padding: 2px 0 2px 0;
}
.sTitle1 {
  background-color: #D6D6D6;
  padding-left: 10px;
  padding: 2px 0 2px 0;
  margin-bottom: 10px;
}
.sTitle1 p,
.sTitle p {
  width: 33%;
  font-size: 1.3vw;
}
.sTitle1 p a,
.sTitle p a {
  color: red;
}
.sTable {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}
.sTitle select {
  font-size: 1.3vw;
}
.sTitle .select01 {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;
}
.sTitle .select01 i {
  font-size: 2vw;
}
.sTitle .select02 {
  width: 33%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.3vw;
}
.sTitle .select02:focus {
  outline: 0;
}
.sub-sTitle {
  margin: 5px 0 5px 0;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  align-items: center;
  padding-left: 10px;
}
.sub-sTitle i {
  font-size: 2vw;
}
.sub-sTitle div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sTable-edit {
  display: none;
  width: 8%;
  border-spacing: 0;
  border-left-color: black;
}
.sTable-td-edit {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
}
.sTable-td-edit i {
  font-size: 1.5vw;
}
.sContent {
  display: flex;
}
.confirm-btn {
  color: green;
  cursor: pointer;
}
.confirm-btn:hover {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: green;
}
.delete-btn {
  color: red;
  cursor: pointer;
}
.delete-btn:hover {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: red;
}
#sEdit {
  margin: 0;
  width: 1.3vw;
}
.select-box {
  padding-left: 10px;
  display: flex;
}
.select-item-box {
  display: none;
  width: 100%;
  font-size: 1.3vw;
  padding-top: 5px;
}
.select-item-box input {
  width: 1.6vw;
  margin-bottom: 0;
}
.select-item {
  display: flex;
  align-items: center;
}
.sb1 i {
  vertical-align: middle;
  font-size: 1.6vw;
  cursor: pointer;
}
.ta-left {
  text-align: left;
}
.feedback textarea {
  width: 90%;
}
#sTitle-p {
  padding-left: 10px;
}
.btn4 {
  width: 30px;
  height: 30px;
  background: black;
}

#workTable {
  width: 100%;
  text-align: center;
}

.workTable {
  width: 100%;
  text-align: center;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  border-top-color: #E1E0E0;
  border-spacing: 0;
}

#applyOppTable {
  text-align: center;
  width: 100%;
}

.workTable td,
#applyOppTable td,
#workTable td {
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: #E1E0E0; 
}

.add-btn-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.add-btn-row button {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  font-size: 1.3vw;
  width: 5vw;
  height: 2.5vw;
}

.wt-1st-row td {
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px !important;
  border-color: black !important;
}

.done {
  color: green;
}

.undone {
  color: red;
}

.clickable {
  color: blue;
  cursor: pointer;
}

#applyOperatorModal span,
#addOperatorModal span {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.modal-row {
  width: 100%;
  display: flex;
  font-size: 1.5vw;
}

.modal-row select {
  width: 15vw;
  font-size: 1.5vw;
}

.modal-row input {
  font-size: 1.5vw;
  width: 5vw;
}

.modal-title {
  width: 100%;
  font-size: 1.5vw;
  text-align: left;
  padding: 1vw 0 2vw 0;
}

.applyOp-content {
  width: 100%;
  padding-top: 10px;
  font-size: 1.3vw;
  text-align: left;
}

.applyOp-content p {
  padding-bottom: 5px;
}

.scrollable {
  overflow: scroll;
}

.btn3 {
  font-size: 1.3vw;
  background-color: #C6C6C6;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.btn3:hover {
  background-color: #666666;
}

.sec-content {
  height: 100%;
  overflow: scroll;
}

.sec-content::-webkit-scrollbar {
  width: 0;
}
