textarea {
  width: -webkit-fill-available;
  color: #ADADAD;
  text-align: left;
  border-radius: 3px;
  resize: vertical;
}
textarea:focus {
  outline: 0;
}
body,html {
  padding: 0;
  margin: 0;
  min-width: 700px;
  height: 100%;
}
i {
  cursor: pointer;
}

.header {
  border-style: none;
  padding-top: 10px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}
.content {
  border-style: none;
  width: 90%;
  margin-left: 5%;
  min-height: 60%;
}
.currlang {
  font-size: 1.7vw;
  background-color: transparent;
  border-style: none;
  width: 15vw;
}
.currlang:focus {
  outline: 0;
}
.currcate {
  font-size: 1.7vw;
  background-color: transparent;
  border-style: none;
  width: 15vw;
}
.currcate:focus {
  outline: 0;
}
.language {
  display: flex;
  align-items: center;
  font-size: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  width: 100%;
  background-color: #B2B2B2;
}
.category {
  display: flex;
  align-items: center;
  font-size: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  width: 100%;
  background-color: #a0a0a0;
}
.langtype1 {
  display: block;
  text-align: left;
  border-style: none;
  font-size: 20px;
  padding-top: 8px;
  width: 100%;
  color: #595757;
  background-color: #f1f5f6;
}
.langtype2 {
  padding-bottom: 8px;
}
.langbox {
  display: none;
}
.sublang {
  display: none;
  border-style: none;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%-5px;
  color: white;
  background-color: #B2B2B2;
  cursor: pointer;
}
.switch {
  margin-left: 3px;
  font-size: 1.3vw;
  border-width: 0px;
  border-radius: 3px;
  color: white;
  background-color: #595757;
  cursor: pointer;
}
.switch:focus {
  outline: 0;
}
.sf {
  font-size: 20px;
}
.beginRow {
  font-size: 1.7vw;
  padding-left: 18px;
}
.row {
  color: #595757;
  font-size: 1.6vw;
  border-width: 0px;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #f1f5f6;
  text-align: center;
  cursor: pointer;
}
.row:hover,
.row:focus {
  color: white;
  background-color: #B2B2B2;
  outline: 0;
}
.row1 {
  width: 13%;
  text-align: left;
  padding-left: 18px;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.row2 {
  margin-right: 2%; 
  margin-left: 15px;
  border-radius: 6px;
  border-radius: 6px;       
}
.row3 {
  color: white;
  background-color: transparent;
  font-size: 1.6vw;
  border-width: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5%;
  text-align: center;  
  cursor: pointer;    
}
.row3:hover,
.row3:focus {
  color: #4f3f41;
}
.cate {
  display: none;
  border-style: none;
}
.cate table td {
  width: 16%;
}
.cate-col {
  width: 16.6%;
}
.cate-row {
  width: 100%;
  display: flex;
}
.col-title {
  font-size: 1.6vw;
  border-style: none;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #decbcd;
  width: 100%;
  margin: 0;
  text-align: left;
}
.cell {
  font-size: 1.6vw;
  border-style: none;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f1f5f6;
  cursor: pointer;
  width: 100%;
  margin: 0;
  text-align: left;
}
.cell:focus {
  outline: 0;
}
.cell:hover {
  color: white;
  background-color: #a0a0a0;
}
.cell1 {
  font-size: 1.6vw;
  border-style: none;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f1f5f6;
  width: 100%;
  cursor: default;
  margin: 0;
  text-align: left;
}
.cell2 {
  font-size: 16px;
  border-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #eddddd;
  width: 150px;
  cursor: pointer;
}
.cell2:focus {
  outline: 0;
}
.cell2:hover {
  color: white;
  background-color: #C6B6B8;
}
.learn {
  width: 20%;
  color: white;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  border-width: 0.1vw;
  border-color: white;
  font-size: 1.7vw;
  cursor: pointer;
  background-color: #83001D;
}
.learn:focus {
  outline: 0;
}
.act-btn {
  color: #83001D !important;
  background-color: #FFF6D9 !important;
}
.float {
  float: left;
}
.title {
  font-size: 2vw;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #595757;
}
.title p {
  margin: 1vw 0 1vw 0;
  width: 100%;
  text-align: center;
}
.hidden-content {
  display: none;
  font-size: 1.5vw;
}
.clickable {
  margin: 0;
  color: blue;
  cursor: pointer;
}
.hc-row {
  border-style: solid;
  border-width: 0.1vw;
  border-top-width: 0;
  padding: 0.5vw;
  background-color: #e7e7e7;
}
.hc-row-title {
  font-weight: bold;
  margin-bottom: 1vw;
}
.page-title {
  display: flex;
}
.page-content {
  padding: 0.5vw;
  padding-top: 0;
  border-style: solid;
  border-width: 0.1vw;
}
.page-content table {
  font-size: 1.5vw;
  width: 100%;
  border-style: solid;
  border-width: 0.1vw;
  margin-top: 0.5vw;
}
.page-content table tr td {
  padding-left: 0.5vw;
}
.edit-icon {
  font-size: 2vw !important;
}
.divhide {
  display: none;
}
.searchbar {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title-left {
  color: white;
  font-size: 2.3vw;
  display: flex;
  align-items: center;
  width: 20%;
}
.sb1 {
  position: relative;
  background-color: #83001D;
  padding: 3vw 18px 1vw 18px;
}
.sb2 {
  width: 60%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sb3 {
  font-size: 2vw;
  width: 88%;
  border-style: none;
}
.sb3:focus {
  outline: 0;
}
.sb3::placeholder {
  color: black;
  opacity: 0.3;
}
.sb4 {
  display: flex;
  width: 100%;
}
.sb5 {
  color: white;
  display: flex;
  margin-top: 5px;
  align-items: center;
  font-size: 15px; 
}
.sb2 i {
  font-size: 3vw;
  color: #83001D;
  cursor: pointer;
}
.icon-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF6D9;
  width: 12%;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}
.modal {
display: none; 
position: fixed; 
z-index: 1;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}
.modal1 {
  text-align: center;
}
.modal2 {
  padding-top: 300px;
}

.modal-content {
border-radius: 10px;
border-color: black;
border-style: solid;
border-width: 1px;
background-color: white;
margin: auto;
padding: 20px;
width: 40%;
max-height: 589px;
overflow-y: auto;
}
.mc-background {
  border-style: none;
  text-align: center;
  background-color: #D3EEF0;
}

.modal-content1 {
border-radius: 10px;
border-color: black;
border-style: solid;
border-width: 1px;
background-color: white;
margin: auto;
margin-top: 125px;
padding: 20px;
width: 25%;
}
.modal-table {
  width: 100%;
  font-size: 17px;
}
.modal-col1 {
  width: 10%;
}
.modal-col2 {
  width: 1%;
}
.modal-input {
  font-size: 17px;
  width: 200px;
}
.modal-input-disabled {
  color: black;
  font-size: 17px;
  width: 200px;
  border-width: 0px;
}
.modal-input-disabled:focus {
  outline: 0;
}
.modal-input-exp {
  font-size: 17px;
  width: 500px;
}

.close-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
.tables {
  width: auto;
  border-spacing: 0px;
}
.ctables {
  width: 100%;
  border: 1;
}
.rmspace {
  margin-top: 0px;
  margin-bottom: 0px;
}
.tdn {
  color: white;
  cursor: default;
}
.td1 {
  font-size: 2vw;
  padding-right: 10px;
}
.td2 {
  text-align: center;
  padding-left: 2px;
}
.tdc {
  font-size: 15px;
  color: #6C6B6B;
}
.tdf {
  font-size: 17px; 
  color: #6C6B6B;
  padding-right: 10px;
}
.tds {
  font-size: 12px;
  color: #ADADAD;
}
.modalhead {
  padding-top: 0px;
  padding-left: 0.5vw;
  padding-bottom: 0.5vw;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px; 
  border-bottom-color: #6C6B6B;
}
.bottomhead1 {
  padding-top: 7px;
}
.bottomhead2 {
  padding-bottom: 10px;
}
.modaltitle {
  margin: 0;
  text-align: left;
  font-size: 1.5vw;
}
.modalbody {
  margin-top: 1vw;
  padding-top: 10px;
  border-radius: 5px;
  background-color: #E3E2E2;
  overflow: scroll;
}
.flex-row {
  font-size: 1.5vw;
  display: flex;
}
.c1 {
  padding-left: 10px;
  width: 20%;
  font-size: 14px;
}
.c2 {
  color: #6C6B6B;
  width: 38%;
  font-size: 17px;
  padding-right: 20px;
}
.cinput {
  text-align: left;
  font-size: 15px;
  height: 50px;
  width: 80%;
}
.ctitle {
  color: #6C6B6B;
  font-size: 14px;
}
.tx1 {
  font-size: 14px;
}
.secrow {
  padding-top: 15px;
}
.modalfooter {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.dlbtn {
  vertical-align: middle;
  cursor: pointer;
  margin-left: 1vw;
  font-size: 2vw;
}
.dlcontent {
  display: flex;
  margin-top: 2vw;
  font-size: 2vw;
  padding-left: 1.5vw;
  align-items: center;
}
.dlcontent p {
  margin: 0;
  padding-right: 1vw;
}
.btn2 {
  background-color: transparent;
  border-style: none;
  font-size: 18px;
  cursor: pointer;
}
.btn2:hover {
  text-decoration: underline;
}
.select01 {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select01 select {
  cursor: pointer;
  font-size: 1.5vw;
}
.select01 select:focus {
  outline: 0;
}
.select02 {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select02:focus {
  outline: 0;
}
.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.symbol {
  margin: 0 5px 0 0;
  font-size: 2vw;
  color: white;
  cursor: pointer;
  width: 2vw;
}
.symbol:hover {
  color: blue;
}

@keyframes blinking {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.3;
  }
  100%{
    opacity: 1;
  }
}

#page1 {
  font-size: 18px;
}

#page1:focus {
  outline: 0;
}

.btn-blink {
  animation: blinking 0.3s;
}

.ltable {
  width: 100%;
  text-align: center;
}

.lcol0 {
  width: 10%;
  font-size: 16px;
}

.lcol1 {
  width: 10%;
  font-size: 16px;
}

.lcol2 {
  width: 20%;
  font-size: 18px;
}

.lcol3 {
  width: 40%;
  font-size: 18px;
  text-align: left;
}

.lcol4 {
  width: 10%;
  font-size: 18px;
}

.lcol5 {
  width: 10%;
}

.lcol5 i {
  font-size: 20px; 
  cursor: pointer;
}

.lcol5 p {
  margin: 0;
  font-size: 18px;
}

.lcol6 {
  width: 25%;
  font-size: 18px; 
}

.lcol7 {
  width: 10%;
  font-size: 18px;
}

.lcol8 {
  width: 10%;
  font-size: 18px;
}


.stable {
  width: 100%;
  text-align: center;
}

.scol1 {
  width: 5%;
  font-size: 17px;
}

.scol2 {
  width: 10%;
  font-size: 17px;
}

.scol3 {
  width: 10%;
  font-size: 18px;
}

.scol4 {
  width: 25%;
  font-size: 18px;
  text-align: left;
}

.scol5 {
  width: 5%;
}

.scol5 p {
  margin: 0;
  font-size: 18px;
}

.scol6 {
  width: 25%;
  font-size: 18px; 
}

.scol7 {
  width: 10%;
  font-size: 18px;
}

.scol8 {
  width: 10%;
  font-size: 18px;
}

#blurSearch {
  margin-left: 10px;
  font-size: 15px;
}

.select01 .prev {
  font-size: 26px;
  cursor: pointer;
}

.select01 .next {
  font-size: 26px;
  cursor: pointer;
}

#title-p {
  margin: 0;
}

#rowPerPage {
  font-size: 18px;
}

#rowPerPage:focus {
  outline: 0;
}

#rowPerPage2 {
  font-size: 18px;
}

#rowPerPage2:focus {
  outline: 0;
}

#page2 {
  font-size: 18px;
}

.noResRow {
  width: 100%;
  font-size: 1.5vw;
  text-align: center;
  color: red;
}

.sgm {
  font-size: 16px;
}

